.Genral_Technology {
  margin-top: 10vw;
  margin-bottom: 3vw;
  max-width: 45em;
}
@media (min-width: 45em) {
  .Genral_Technology {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5vw 0 10vw 0;
    max-width: unset;
  }
}
@media (min-width: 75em) {
  .Genral_Technology {
    justify-content: center;
    margin: 5vw 0 3vw 0;
  }
}
