:root {
  --vh: 1vh;
}
.LiveShoppingHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 45em;
  margin-bottom: 2em;
}
.LiveShoppingHome_Backgroundimg {
  position: relative;
  width: 100vw;
  height: 805px;
  background-image: url(/public/backgroundImages/Group\ 35.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  /* background-position: calc(5% + 0px); */
}

/* content */
.LiveShoppingHome_Content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.7em;
  padding: 2em;
}
.LiveShoppingHome_componentName {
  font-family: "Helvetica", Sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.2em;
  letter-spacing: 2.5px;
  background: -webkit-linear-gradient(0deg, #ff8dc8 0%, #ffbe4b 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.LiveShoppingHome_Content > h2 {
  font-family: "Raleway", Sans-serif;
  font-size: 32px;
  font-weight: 800;
  line-height: 1.1em;
  max-width: 10em;
  background: -webkit-linear-gradient(0deg, #ff8dc8 0%, #ffbe4b 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.LiveShoppingHome_Dscription {
  font-family: "Raleway", Sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2em;
  letter-spacing: 1.4px;
  background: -webkit-linear-gradient(0deg, #ff8dc8 0%, #ffbe4b 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2em;
}
/* ipad */
@media (min-width: 45em) {
  .LiveShoppingHome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: unset;
    margin-bottom: 4em;
  }

  .LiveShoppingHome_Backgroundimg {
    position: relative;
    width: 94vw;
    /* height: 96vh; */
    height: calc(870px * 100 / var(--vh));
    /* height: 870px; */
    background-image: url(/public//backgroundImages/Group\ 38.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: calc(27% + 0px);
    border-radius: 15px;
  }
  /* content */
  .LiveShoppingHome_Content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 89vh;
    margin-top: 2em;
  }
  .LiveShoppingHome_componentName {
    width: 550px;
    align-items: start;
  }
  .LiveShoppingHome_Content > h2 {
    z-index: 999;
    font-size: 50px;
    max-width: 97%;
    /* width: 550px; */
  }
  .LiveShoppingHome_Dscription {
    font-size: 16px;
    line-height: 1.7em;
    width: 500px;
    margin-bottom: 1em;
  }
  .LiveShoppingHome_DscriptionBtn {
    align-items: start;
    width: 550px;
  }
}
@media (min-width: 75em) {
  .LiveShoppingHome_Backgroundimg {
    height: 709px;
    background-position: calc(57% + 0px);
  }

  .LiveShoppingHome_Content {
    position: absolute;
    top: -11%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  .LiveShoppingHome_Content > h2 {
    z-index: 999;
    font-size: 70px;
    width: 550px;
  }
  .LiveShoppingHome_Dscription {
    width: 400px;
  }
}

@media (min-width: 91em) {
  .LiveShoppingHome_Backgroundimg {
    position: relative;
    height: 670px;
    background-size: cover;
    background-position: calc(74% + 0px);
  }

  .LiveShoppingHome_Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    left: 52%;
  }
  .LiveShoppingHome_componentName {
    width: 550px;
    align-items: start;
  }
  .LiveShoppingHome_DscriptionBtn {
    align-items: start;
    width: 550px;
  }
}
@media (min-width: 120em) {
  .LiveShoppingHome_Backgroundimg {
    position: relative;
    height: 670px;
    background-size: cover;
    background-position: calc(70% + 0px);
    background-position-x: 0px;
    background-position-y: 0;
  }
 
}
