.Section_LiveLearning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 45em;
  margin-bottom: 2em;
}
.LiveLearning_Cotainer {
  display: flex;
  align-items: flex-end;
  width: 100vw;
  height: 805px;
  background: linear-gradient(to right, #db93ff, #71e3ff);
}
.LiveLearning_Backgroundimg {
  position: relative;
  width: 100vw;
  height: 783px;
  background-image: url(/public/backgroundImages/Group\ 11.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: calc(5% + 0px);
  object-fit: cover;
}
.LiveLearning_PeoleImg {
  position: absolute;
  top: 25em;
  right: 0vw;
  width: unset;
  height: 45vh;
  object-fit: cover;
}
.LiveLearning_lsImg {
  position: absolute;
  top: 34.5em;
  width: 94%;
  height: auto;
  object-fit: cover;
  z-index: 999;
}
.LiveLearning_LdSmoke {
  position: absolute;
  top: 29.4em;
  width: 100%;
  height: 40%;
}
/* content */
.LiveLearning_Content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.7em;
  padding: 2em;
  z-index: 999999;
}
.LiveLearning_componentName {
  font-family: "Helvetica", Sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.2em;
  letter-spacing: 2.5px;
  background: linear-gradient(260deg, #79ddff 0%, #cf82ff 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.LiveLearning_Content > h2 {
  font-family: "Raleway", Sans-serif;
  font-size: 32px;
  font-weight: 800;
  line-height: 1.1em;
  max-width: 10em;
  background: linear-gradient(260deg, #79ddff 0%, #cf82ff 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.LiveLearning_DscriptionBtn {
  z-index: 99999999;
}
.LiveLearning_Dscription {
  font-family: "Raleway", Sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2em;
  letter-spacing: 1.4px;
  background: linear-gradient(260deg, #79ddff 0%, #cf82ff 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2em;
}
/* ipad */
@media (min-width: 45em) {
  .Section_LiveLearning {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: unset;
    margin-bottom: 4em;
  }
  .LiveLearning_Cotainer {
    display: flex;
    align-items: flex-end;
    width: 94vw;
    height: 80vh;
    border-radius: 15px;
    margin: 0 auto;
  }
  .LiveLearning_Backgroundimg {
    position: relative;
    height: 78vh;
    background-image: url(/public/backgroundImages/Group\ 11.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: calc(5% + 0px);
    object-fit: cover;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .LiveLearning_PeoleImg {
    position: absolute;
    top: 22.6em;
    right: 0vw;
    width: 90vw;
    height: auto;
    /* object-fit: cover; */
    border-bottom-right-radius: 15px;
  }

  .LiveLearning_lsImg {
    position: absolute;
    top: 33em;
    left: 8em;
    height: unset;
    width: 38em;
    object-fit: cover;
  }
  .LiveLearning_LdSmoke {
    position: absolute;
    top: 47.1vh;
    width: 100%;
    height: 40%;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  /* content */
  .LiveLearning_Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.7em;
    margin-left: 2%;
    height: 35vh;
  }
  .LiveLearning_componentName {
    width: 670px;
    align-items: start;
  }
  .LiveLearning_Content > h2 {
    z-index: 999;
    font-size: 55px;
    max-width: 97%;
  }
  .LiveLearning_Dscription {
    font-size: 16px;
    line-height: 1.7em;
    width: 500px;
    margin-bottom: 1em;
  }
  .LiveLearning_DscriptionBtn {
    align-items: start;
    width: 670px;
  }
}
@media (min-width: 75em) {
  .LiveLearning_Cotainer {
    width: 94vw;
    height: 80vh;
  }
  .LiveLearning_Backgroundimg {
    height: 78vh;
    background-position: calc(5% + 0px);
  }
  .LiveLearning_PeoleImg {
    position: absolute;
    top: 0vh;
    right: 0vw;
    width: unset;
    height: 78vh;
  }
  .LiveLearning_lsImg {
    position: absolute;
    top: 40%;
    left: 55%;
    height: unset;
    width: 40%;
  }
  .LiveLearning_LdSmoke {
    position: absolute;
    top: 46.7vh;
    width: 100%;
    height: 40%;
  }
  /* content */
  .LiveLearning_Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.7em;
    margin-left: 2%;
    height: 90vh;
  }

  .LiveLearning_Content > h2 {
    z-index: 999;
    font-size: 70px;
    width: 670px;
  }
  .LiveLearning_Dscription {
    width: 400px;
    z-index: 999;
  }
}

@media (min-width: 88.75em) {
  .LiveLearning_PeoleImg {
    position: absolute;
    top: 3em;
    right: 0vw;
    width: unset;
    height: 65vh;
  }
  .LiveLearning_lsImg {
    position: absolute;
    top: 45%;
    left: 55%;
    height: unset;
    width: 37%;
  }
  .LiveLearning_LdSmoke {
    position: absolute;
    top: 42.2vh;
    width: 100%;
    height: 40%;
  }
  /* content */
  .LiveLearning_Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.7em;
    margin-left: 9%;
    height: 65vh;
  }

  .LiveLearning_Content > h2 {
    z-index: 999;
    font-size: 70px;
    width: 670px;
  }
}
/* laptop */
@media (min-width: 90em) {
  .LiveLearning_Cotainer {
    width: 94vw;
    height: 670px;
  }
  .LiveLearning_Backgroundimg {
    height: 650px;
    background-position: calc(5% + 0px);
    background-position: left;
  }

  .LiveLearning_PeoleImg {
    position: absolute;
    top: 0em;
    right: 0vw;
    width: unset;
    height: 40.6em;
  }
  .LiveLearning_lsImg {
    position: absolute;
    top: 37%;
    left: 57%;
    height: unset;
    width: 33%;
  }
  .LiveLearning_LdSmoke {
    position: absolute;
    top: 24.4em;
    width: 100%;
    height: 40%;
  }
  /* content */
  .LiveLearning_Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.7em;
    margin-left: 9%;
    height: 90vh;
  }
}

/* @media (min-width: 97em) {
  .Section_LiveLearning{
    background-color: rgb(140, 255, 0);
  }
  .LiveLearning_Cotainer {
    width: 94vw;
    height: 670px;
  }
  .LiveLearning_Backgroundimg {
    height: 650px;
    background-position: calc(5% + 0px);
    background-position: left;
  }
  .LiveLearning_PeoleImg {
    position: absolute;
    top: -1.3em;
    right: 0vw;
    width: unset;
    height: 94vh;
  }
  .LiveLearning_lsImg {
    position: absolute;
    top: 40%;
    left: 55%;
    height: unset;
    width: 30%;
  }
  .LiveLearning_LdSmoke {
    position: absolute;
    top: 54.7vh;
    width: 100%;
    height: 40%;
  }
  .LiveLearning_Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.7em;
    margin-left: 9%;
    height: 90vh;
  }
  
  .LiveLearning_Content > h2 {
    z-index: 999;
    font-size: 70px;
    width: 670px;
  }
} */

@media (min-width: 120em) {
  .LiveLearning_Backgroundimg {
    height: 650px;
  }

  .LiveLearning_PeoleImg {
    position: absolute;
    top: 0vh;
    right: 0vw;
    width: unset;
    height: 100%;
    object-fit: cover;
    border-bottom-right-radius: 15px;
  }
  .LiveLearning_lsImg {
    position: absolute;
    top: 38%;
    left: 55%;
    height: unset;
    width: 25%;
    object-fit: cover;
  }
  .LiveLearning_LdSmoke {
    position: absolute;
    top: 60%;
    width: 100%;
    height: 40%;
    border-bottom-right-radius: 15px;
  }
  .LiveLearning_Content {
    margin-left: 17%;
    height: 64vh;
  }
}
