#MoveAnimationBar .slick-slide {
  height: 130px;
  padding-left: 1.8em; 
}
#MoveAnimationBar .slick-next:before {
  content: ".";
  background-image: url(/public/iconsMoveBar/right.png);
  /* background-image: url(../../../public/iconsMoveBar/right.png); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#MoveAnimationBar .slick-prev:before {
  content: ".";
  background-image: url(/public/iconsMoveBar/lefte.png);
  /* background-image: url(../../../public/iconsMoveBar/lefte.png); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#MoveAnimationBar .slick-prev:before,.slick-next:before {
  font-size: 150px;
  line-height: 0;
  opacity: 1;
  color: transparent;
  padding-bottom: .2em;
}
#MoveAnimationBar .slick-next:before {
  font-size: 150px;
  line-height: 0;
  opacity: 1;
  color: transparent;
  padding-bottom: .2em;
}

 
